<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="comment" th:object="${boardData}">
    <form id="frmComment" name="frmComment" method="post" th:action="@{/comment/save}" target="ifrmProcess" autocomplete="off">
        <input type="hidden" name="boardDataSeq" th:value="*{seq}">
        <div class="comment_box">
            <div class="commenter_info">
                <input sec:authorize="isAuthenticated()" type="text" name="poster" th:value="${session.member.userNm}" th:placeholder="#{작성자}">
                <th:block sec:authorize="isAnonymous()">
                    <input type="text" name="poster" th:placeholder="#{작성자}">
                    <input type="password" name="guestPw" th:placeholder="#{비밀번호}">
                </th:block>
            </div>
            <!-- commenter_info -->
            <div class="content_box">
                <textarea name="content"></textarea>
                <button type="submit" th:text="#{작성하기}"></button>
            </div>
        </div>
        <!-- comment_box -->
    </form>

    <ul th:if="*{comments != null && !comments.isEmpty()}">
        <li th:each="comment : *{comments}" th:object="${comment}">

        </li>
    </ul>

</th:block>
</html>