<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="common" th:object="${boardForm}">

        <dl>
            <dt>제목</dt>
            <dd>
                <input type="text" name="subject" th:field="*{subject}">
                <div class="error" th:each="err : ${#fields.errors('subject')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt>작성자</dt>
            <dd>
                <input type="text" name="poster" th:field="*{poster}">
                <div class="error" th:each="err : ${#fields.errors('poster')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt>내용</dt>
            <dd>
                <textarea name="content" id="content" th:field="*{content}"></textarea>
                <div class="error" th:each="err : ${#fields.errors('content')}" th:text="${err}"></div>
            </dd>
        </dl>
    </th:block>
</html>