<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="list">
    <h1>
        <a th:href="@{/board/list/{bId}(bId=${board.bId})}" th:text="${board.bName}"></a>
    </h1>

    <a th:href="@{/board/write/{bId}(bId=${board.bId})}" th:text="#{글쓰기}"></a>

    <nav th:if="${categories != null && !categories.isEmpty()}">
        <a th:href="@{/board/list/{bId}(bId=${board.bId})}" th:text="#{전체}"></a>
        <a th:each="category : ${categories}" th:href="@{/board/list/{bId}(bId=${board.bId}, category=${category})}" th:text="${category}"></a>
    </nav>
    <ul>
        <li th:if="${items == null || items.isEmpty()}" th:text="#{조회된_게시글이_없습니다.}"></li>
        <li th:unless="${items == null || items.isEmpty()}"
            th:each="item : ${items}" th:object="${item}">
            <a th:href="@{/board/view/{seq}(seq=*{seq})}">
                <div class="subject">
                    <span th:if="*{notice}">[공지]</span>
                    <th:block th:text="*{subject}"></th:block>
                    <th:block th:if="*{commentCnt > 0}" th:text="*{'(' + commentCnt + ')'}"></th:block>
                </div>
                <div class="post_info">
                    <span class="poster">
                        <th:block th:text="*{poster}"></th:block>
                        <th:block th:if="*{member != null}"
                                  th:text="*{'(' + member.email + ')'}"></th:block>
                    </span>
                    <span class="post_date"
                          th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></span>
                </div>
            </a>
        </li>
    </ul>
    <div>
        <form method="get" th:action="@{/board/list/{bId}(bId=${board.bId})}" autocomplete="off" th:object="${boardDataSearch}">
            <input type="hidden" name="category" th:field="*{category}">
            <select name="sopt" th:field="*{sopt}">
                <option value="subject" th:text="#{제목}"></option>
                <option value="content" th:text="#{내용}"></option>
                <option value="subject_content" th:text="#{제목+내용}"></option>
                <option value="poster" th:text="#{작성자}"></option>
            </select>
            <input type="text" name="skey" th:field="*{skey}">
            <button type="submit" th:text="#{검색하기}"></button>
        </form>
    </div>

    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</th:block>
</html>