<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <h1>
        <a th:href="@{/board/list/{bId}(bId=${board.bId})}" th:text="${board.bName}"></a>
    </h1>
    <form name="frmSave" method="post" th:action="@{/board/save}" autocomplete="off" th:object="${boardForm}">
        <input type="hidden" name="mode" value="update">
        <input type="hidden" name="seq" th:value="*{seq}">

        <th:block th:replace="~{front/board/_form::common}"></th:block>

        <div class="btns">
            <button type="reset">다시입력</button>
            <button type="submit">수정하기</button>
        </div>
    </form>
</main>

</html>