<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <h1>
        <a th:href="@{/board/list/{bId}(bId=${board.bId})}" th:text="${board.bName}"></a>
    </h1>
    <form name="frmSave" method="POST" th:action="@{/board/save}" autocomplete="off">
        <input type="hidden" name="mode" value="write">

        <th:block th:replace="~{front/board/_form::common}"></th:block>

        <div class="btns">
            <button type="reset">다시입력</button>
            <button type="submit">작성하기</button>
        </div>
    </form>
</main>

</html>